<!DOCTYPE HTML>
<html>
<head>
    <title>Заметка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Информация о заметке
{{#notes}}
    <div>
        <br/>
        {{memo}}
    </div>
{{/notes}}

<div>
    <a href="../main.mustache">Назад</a>
</div>


</body>
</html>